build==1.2.2.post1
cffi==1.17.1
click==8.1.8
cryptography==44.0.3
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.15.0
mypy_extensions==1.1.0
packaging==25.0
polars==1.29.0
prompt_toolkit==3.0.51
pyclip==0.7.0
pycparser==2.22
Pygments==2.19.1
pyproject_hooks==1.2.0
rich==14.0.0
setuptools==80.3.0
shiv==1.0.8
typing_extensions==4.13.2
wcwidth==0.2.13
wheel==0.45.1
